<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="styles::styles(pageTitle='Spare::Accounts')">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../resources/materialize/css/materialize.min.css"/>

</head>
<body>
<div th:replace="~{header::header}"></div>
<main>
        <table class="responsive-table striped highlight ">
            <thead>
            <tr>
                <td>
                    Account Id
                </td>
                <td>
                    First Name
                </td>
                <td>
                    Last Name
                </td>
                <td>
                    Sex
                </td>
                <td>
                    Email
                </td>
                <td>
                    Active Status
                </td>
                <td>
                    Last LogIn
                </td>
                <td>Actions</td>
                <td>
                    Account Type
                </td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="caccount:${accounts}">
                <td>
                    <span th:text="${caccount.getId()}">Id</span>
                </td>
                <td>
                    <span th:text="${caccount.getFname()}">First Name</span>
                </td>
                <td>
                    <span th:text="${caccount.getLname()}">Last Name</span>
                </td>
                <td>
                    <span th:text="${caccount.getGender()}">sex</span>
                </td>
                <td>
                    <span th:text="${caccount.getEmail()}">mail</span>
                </td>
                <td>
                    <span th:text="${caccount.isActive()? 'ACTIVE':'SUSPENDED'}">active</span>
                </td>
                <td>
                    <span th:text="${caccount.getLastLogIn()}"></span>
                </td>
                <td>
                    <a th:href="@{/accountsaction/recover/{id}(id=${caccount.id})}">
                        <i class="material-icons">check</i>RECOVER</a>
                    <a th:href="@{/accountsaction/suspend/{id}(id=${caccount.id})}">
                        <i class="material-icons">warning</i> SUSPEND
                    </a>
                </td>
                <td>
                    <span th:text="${caccount.getUserType()}">TYPE</span>
                </td>
            </tr>
            </tbody>
        </table>

</main>
<div th:replace="~{scripts::scripts}"></div>
</body>
</html>