<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../../resources/materialize/css/materialize.min.css"/>
<body>
<div class="col s12 m6 l4" th:each="item:${items}" th:fragment="explore">
    <div class="card sticky-action medium" >
        <div class="card-image waves-effect waves-light">
            <img th:src="${item.encodedImage()}" class="activator">
            <span class="card-title">Ksh. <span th:text="${item.getPrice()}"></span></span>
        </div>
        <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><span th:text="${item.getName()}"></span>
                        <i class="material-icons right">more_vert</i></span>
            <span>
                        <a th:href="@{explore/{itemId}(itemId=${item.getId()})}">
                            <i class="material-icons">info</i>More about item
                        </a>
                    </span>
        </div>
        <div class="card-action">
                    <span class="left">
                        <a ><i class="material-icons grey-text">star</i>(20)Reviews</a>
                    </span>
            <span class="right">
                         <a ><i class="material-icons grey-text">schedule</i>
                         <span th:text="${item.timeConverter()}"></span>
                         </a>
                    </span>
        </div>
        <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        Description
                        <i class="material-icons right">close</i></span>
            <p th:text="${item.getDescription()}">Here is some more
                information about this product that is only revealed once clicked on.</p>
        </div>
    </div>
</div>
</body>
</html>