<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--this is the default header template for all users-->
<link th:href="@{/resources/materialize/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link th:href="@{/resources/materialize/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link th:href="@{/resources/materialize/css/material-icons.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
<link th:href="@{/resources/materialize/noUiSlider/nouislider.css}" type="text/css" rel="stylesheet"/>

<link rel="stylesheet" href="../../resources/materialize/css/materialize.min.css"/>
<link rel="stylesheet" href="../../resources/materialize/css/material-icons.css"/>
<link rel="stylesheet" href="../../resources/materialize/css/style.min.css"/>
<div th:fragment="header">
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal">
                <a href="#!" class="brand-logo">SpareKE</a>
                <a href="#" data-activates="mobile-nav" class="button-collapse">
                    <i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a th:href="@{/}">
                        <i class="material-icons">apps</i>
                    </a></li>
                    <li><a th:href="@{/explore}">
                        <i class="material-icons">explore</i>
                    </a></li>
                    <li>
                        <a th:href="@{/add}">
                            <i class="material-icons">add</i>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/explore/map}">
                            <i class="material-icons">location_on</i>
                        </a>
                    </li>
                    <!--<li th:if="${session.logged}">-->
                        <!--<a th:href="@{/stats}">-->
                            <!--<i class="material-icons">pie_chart</i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a th:href="@{/mail/(userid=${session.account.getId()})}" th:if="${session.logged}">-->
                            <!--<i class="material-icons">mail</i>-->
                        <!--</a>-->
                    <!--</li>-->
                    <li  th:if="${session.logged&&session.account.isActive()}">
                        <a href="#" data-target="notif" class="notification-btn">
                            <i class="material-icons">notifications</i>
                        </a>


                    </li>
                    <li >
                        <a href="#" data-activates="slide-out" class="slide-out-collapse">
                            <i class="material-icons medium">more_vert</i>
                        </a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <ul id="slide-out" class="side-nav">
        <li>
            <div class="userView">
                <div class="background">
                    <img th:src="@{/resources/images/back.jpg}">
                </div>
                <a href="#!user"th:if="${session.logged&&session.account.isActive()}"><img class="circle" th:src="${session.account.encodedImage()}"></a>
                <a href="#!name" th:if="${session.logged&&session.account.isActive()}"><span class="white-text name">
                    <span th:text="${session.account.getFname() +' '+session.account.getLname()}"></span>  </span></a>
                <a href="#!email" th:if="${session.logged&&session.account.isActive()}"><span class="white-text email">
                    <span th:text="${session.account.getEmail()}">developergitch@outlook.com</span></span></a>
            </div></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Actions</a></li>
        <li th:if="${session.logged&&session.account.isActive()}"><a class="waves-effect" th:href="@{/accountsaction/edit/{id}(id=${session.account.getId()})}"><i class="material-icons">edit</i>Edit</a></li>
        <li th:if="${session.logged && session.account.isActive()}"><a class="waves-effect" th:href="@{/signout}"><i class="material-icons">lock</i>Sign Out</a></li>
        <li th:if="${!session.logged||!session.account.isActive()}">
            <a class="waves-effect" th:href="@{/signin}"><i class="material-icons">lock</i>Sign in </a>
        </li>
        <li th:if="${!session.logged||!session.account.isActive()}">
            <a class="waves-effect" th:href="@{/signup}"><i class="material-icons">person_add</i>Sign up</a>
        </li>
        <li><div class="divider"></div></li>
        <li th:if="${session.logged&&session.account.isActive()&&session.account!=null&&session.account.getUserType().equals('ADMIN')}">
            <a class="subheader">Administrative actions</a>
        </li>
        <li th:if="${session.logged&&session.account.isActive()&&session.account!=null&&session.account.getUserType().equals('ADMIN')}">
            <a class="waves-effect" th:href="@{/adminhome}"><i class="material-icons">assessment</i>Dashboard</a>
        </li>
        <li th:if="${session.logged&&session.account.isActive()&&session.account!=null&&session.account.getUserType().equals('ADMIN')}">
            <a class="waves-effect" th:href="@{/accountsaction}"><i class="material-icons">supervisor_account</i>Accounts Action</a>
        </li>
        <li th:if="${session.logged&&session.account!=null&&session.account.isActive()&&session.account.getUserType().equals('ADMIN')}">
            <a class="waves-effect" th:href="@{/reports}"><i class="material-icons">trending_up</i>Reports</a>
        </li>
    </ul>
    <ul class="side-nav" id="mobile-nav">
        <li>
            <div class="userView">
                <div class="background">
                    <img th:src="@{/resources/images/back.jpg}">
                </div>
                <a href="#!user"th:if="${session.logged&&session.account.isActive()}"><img class="circle" th:src="${session.account.encodedImage()}"></a>
                <a href="#!name" th:if="${session.logged&&session.account.isActive()}"><span class="white-text name">
                    <span th:text="${session.account.getFname() +' '+session.account.getLname()}"></span>  </span></a>
                <a href="#!email" th:if="${session.logged&&session.account.isActive()}"><span class="white-text email">
                    <span th:text="${session.account.getEmail()}">developergitch@outlook.com</span></span></a>
            </div></li>
        <li><a href="#">
            <i class="material-icons">apps</i>Home
        </a></li>
        <li><a th:href="@{/explore}">
            <i class="material-icons">explore</i>Explore
        </a></li>
        <li>
            <a th:href="@{/add}">
                <i class="material-icons">add</i>Add
            </a>
        </li>
        <li>
            <a th:href="@{/exploremap}">
                <i class="material-icons">location_on</i>Explore Map
            </a>
        </li>
        <!--<li th:if="${session.logged}">-->
            <!--<a th:href="@{/stats}">-->
                <!--<i class="material-icons">pie_chart</i>Account Stats-->
            <!--</a>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a th:href="@{/mail/(userid=${session.account.getId()})}" th:if="${session.logged}">-->
                <!--<i class="material-icons">mail</i>Messages-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a href="#" th:if="${session.logged&&session.account.isActive()}" data-target="notif" class="notification-b">
                <i class="material-icons">notifications</i>Notifications
            </a>
        </li>
        <div class="divider"></div>
        <li>
            <a class="subheader">Account Actions</a>
        </li>
        <li th:if="${session.logged&&session.account.isActive()}"><a class="waves-effect" th:href="@{/accountsaction/edit/{id}(id=${session.account.getId()})}"><i class="material-icons">edit</i>Edit</a></li>
        <li th:if="${session.logged&&session.account.isActive()}"><a class="waves-effect" th:href="@{/signout}"><i class="material-icons">lock</i>Sign Out</a></li>
        <li th:if="${!session.logged||!session.account.isActive()}">
            <a class="waves-effect" th:href="@{/signin}"><i class="material-icons">lock</i>Sign in </a>
        </li>
        <li th:if="${!session.logged||!session.account.isActive()}">
            <a class="waves-effect" th:href="@{/signup}"><i class="material-icons">person_add</i>Sign up</a>
        </li>
        <li><div class="divider"></div></li>
        <li th:if="${session.logged&&session.account.isActive()&&session.account!=null&&session.account.getUserType().equals('ADMIN')}">
            <a class="subheader">Administrative actions</a>
        </li>
        <li th:if="${session.logged&&session.account.isActive()&&session.account!=null&&session.account.getUserType().equals('ADMIN')}">
            <a class="waves-effect" th:href="@{/adminhome}"><i class="material-icons">assessment</i>Dashboard</a>
        </li>
        <li th:if="${session.logged&&session.account.isActive()&&session.account!=null&&session.account.getUserType().equals('ADMIN')}">
            <a class="waves-effect" th:href="@{/accountsaction}"><i class="material-icons">supervisor_account</i>Accounts Action</a>
        </li>
        <li th:if="${session.logged&&session.account.isActive()&&session.account!=null&&session.account.getUserType().equals('ADMIN')}">
            <a class="waves-effect" th:href="@{/reports}"><i class="material-icons">trending_up</i>Reports</a>
        </li>

    </ul>
    <!-- Notif Modal Structure -->
    <div id="notif" class="modal modal-fixed-footer" th:if="${session.logged&&session.account.isActive()}">
        <div class="modal-content">
            <h4>Notifications</h4>
            <p th:if="${session.messages.size()<0}">
                You have no new notifications
            </p>
            <ul class="collection" th:if="${!session.messages.isEmpty()}" th:each="message:${session.messages}">

                <li class="avatar collection-item">
                    <img th:src="${message.getSenderAccount().encodedImage()}" class="circle">
                    <span class="email-title" th:text="${message.getSenderAccount().getLname()+' '+message.getSenderAccount().getFname()}"></span>
                    <p class="truncate grey-text ultra-small" th:text="${message.getMessageBody()}">Hay Joe, we have n
                        ext project for this summer.</p>
                    <a href="app-email.html#!" class="secondary-content email-time">
                        <i class="material-icons">time</i>
                        <span class="grey-text ultra-small" th:text="${message.getTimeSend()}">12:10 am</span></a>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</div>
</body>
</html>