<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="styles::styles(pageTitle='Spare::Welcome')">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../resources/materialize/css/materialize.css"/>

</head>
<body>
<div class="navbar-fixed">
    <nav class="teal lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#!" class="brand-logo">SpareKE</a>
        </div>
    </nav>
</div>
<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect" th:href="@{/explore}">Explore</a>
    </div>
    <div class="carousel-item cyan lighten-2 white-text" href="#!">
        <h2 class="center"><i class="material-icons large circle">view_carousel</i></h2>
        <h3 class="center">Easy to use</h3>

        <h5 class="white-text">Sleek UI just for you</h5>
    </div>
    <div class="carousel-item cyan white-text" href="#three!">
        <h2 class="center"><i class="material-icons large">group</i></h2>
        <h3 class="center">Community Focused</h3>

        <h5 class="white-text">Friendly ready to help agent</h5>
    </div>
    <div class="carousel-item cyan lighten-1 white-text" href="#four!">
        <h2 class="center"><i class="material-icons large">query_builder</i></h2>
        <h3 class="center">Spares your time</h3>

        <h5 class="white-text">Stress no more!Start searching</h5>
    </div>
</div>

<div class="fixed-action-btn" >
    <a class="btn-floating btn-large red">
        <i class="large material-icons">perm_identity</i>
    </a>
    <ul>
        <li th:if="${!session.logged||!session.account.isActive()}"><a class="btn-floating green" th:href="@{/signin}"><i class="material-icons">lock</i></a></li>
        <li th:if="${session.logged&&session.account.isActive()}"><a class="btn-floating green lighten-2" th:href="@{/signout}"><i class="material-icons">lock_open</i></a></li>
        <li th:if="${!session.logged||!session.account.isActive()}"><a class="btn-floating yellow darken-1" th:href="@{/signup}"><i class="material-icons">mode_edit</i></a></li>
        <li><a class="btn-floating blue" th:href="@{/explore}"><i class="material-icons">explore</i></a></li>
    </ul>
</div>
<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SpareKE</h5>
                <p class="grey-text text-lighten-4">We are a team of college
                    students working on this project.Need your project done we got your back.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">About</h5>
                <ul>
                    <li><a class="white-text" href="#!">About SpareKE</a></li>
                    <li><a class="white-text" href="#!">FAQS</a></li>
                    <li><a class="white-text" href="#!">TAC</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Facebook</a></li>
                    <li><a class="white-text" href="#!">twitter</a></li>
                    <li><a class="white-text" href="#!">Github</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="orange-text text-lighten-3" href="http://www.josephgichuru.info">Kabogo Joseph</a>
        </div>
    </div>
</footer>


<div th:replace="~{scripts::scripts}"></div>
</body>
</html>