<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script th:src="@{/resources/semantic/jquery-3.2.0.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/semantic/dist/semantic.min.css}">

    <script th:src="@{/resources/semantic/dist/semantic.min.js}"></script>
    <script th:src="@{/resources/semantic/app.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/semantic/app.css}"/>
</head>
<body>
<div class="ui grid">
    <div class="computer tablet only row">
        <div class="ui inverted fixed menu navbar page grid">
            <a href="#" class="brand item">SpareKE</a>

            <div class="right compact menu">

                <a href="#" class="item">
                    <i class="icon mail"></i>
                    <div class="floating ui teal small label circular">5</div>
                </a>
                <a href="#" class="item">
                    <i class="icon flag"></i>
                    <div class="floating ui teal small label circular">5</div>
                </a>
                <a href="#" class="item">
                    <i class="icon bell"></i>
                    <div class="floating ui teal small label circular">10</div>
                </a>
                <a class="ui item account">
                    <img src="img.JPG" class="ui avatar image"/><span>User name</span>
                  <i class="dropdown icon"></i>
                    <div class="hidden">

                    </div>
                </a>
            </div>

        </div>

    </div>
    <div class="mobile only row">
        <div class="ui fixed inverted navbar menu">
            <a href="#" class="brand item">SpareKE</a>
            <div class="right menu open">
                <a href="#" class="item">
                    <i class="icon mail"></i>
                    <div class="floating ui teal small label circular">5</div>
                </a>
                <a href="#" class="item">
                    <i class="icon flag"></i>
                    <div class="floating ui teal small label circular">5</div>
                </a>
                <a href="#" class="item">
                    <i class="icon bell"></i>
                    <div class="floating ui teal small label circular">10</div>
                </a>
                <a href="#" class="item menu" id="sidebar-toggle">
                    <i class="content icon"></i>
                </a>
            </div>

        </div>
            <div class="ui sidebar right vertical thin  menu">
                <a class="item">
                    <i class="dashcube icon teal"></i>
                    Dashboard
                </a>
                <a class="item">
                    <i class="world icon teal"></i>
                    Explore
                </a>
                <a class="item">
                    <i class="plus icon teal"></i>
                    Add
                </a>
                <a class="item">
                    <i class="location arrow icon teal"></i>
                    Explore Map
                </a>
                <a class="item">
                    <i class="icon pie chart teal"></i>
                    Statistics
                </a>
            </div>

    </div>
</div>
<div class="ui grid page main">
    <div class="row">
       <div class="column padding-reset">
           <div class="ui large message">
               <h1 class="ui huge header">Navbar</h1>
               <p class="ui label teal" >Today is on: <span th:text="${date.toString()}" > </span></p>
               <p>Locale: <span th:text="${#locale.getCountry()}"></span> </p>
               <p>URL: <span th:text="${#httpServletRequest.getRemoteHost()}"></span> </p>
               <p>Lorem ipsopsn vv,bb,,,n xmnnn</p>
               <p>Lorem ipsopsn vv,bb,,,n xmnnn</p>
               <p>Lorem ipsopsn vv,bb,,,n xmnnn</p>
               <div class="ui card">
                   <ol>
                       <li><a th:href="@{/register}" >Register</a></li>
                       <li><a th:href="@{/login}" >Login</a></li>
                       <li><a th:href="@{/}" >Explore</a></li>

                   </ol>
               </div>
               <div th:if="${name=='josephs' }">
                   <p>Name is joseph</p>
               </div>
               <div th:class="${name=='joseph'}?'ui card':'ui segment'">
                   <p>Text</p>
               </div>
               <form th:action="@{/navigation}" class="ui form">

                       <div class="field">
                           <input type="email" name="email" placeholder="Email"/>
                       </div>
                       <div class="field">
                           <input type="password" name="password" placeholder="Password"/>
                       </div>
               </form>
               <table class="ui celled table">
                   <tr>
                       <th>Item</th>
                   </tr>
                   <tr th:each="prod:${products}">
                       <td th:text="${prod}"></td>
                   </tr>
               </table>
           </div>
       </div>


    </div>
</div>
</body>
</html><form>
               <label>Image Gallery</label>
               <input type="file" class="file"
                      multiple data-show-upload="false"
                      data-show-caption="false"
                      data-show-remove="false"
                      accept="image/jpeg,image/png"
                      data-browse-class="btn btn-o btn-default"
                      data-browse-label="Browse Images">
               <p class="help-block">You can select multiple images at once</p>
           </form>