<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div th:fragment="scripts">
    <script th:src="@{/resources/materialize/js/jquery-3.2.0.min.js}"></script>
    <!--<script th:src="@{/resources/materialize/js/jquery.validate.js}"></script>-->
    <script th:src="@{/resources/materialize/js/materialize.js}"></script>
    <script th:src="@{/resources/materialize/js/init.js}"></script>
    <script th:src="@{/resources/materialize/js/app.js}"></script>
    <script th:src="@{/resources/materialize/noUiSlider/nouislider.js}"></script>
    <script th:src="@{/resources/materialize/js/Chart.bundle.min.js}"></script>
    <script th:src="@{/resources/materialize/js/utils.js}"></script>

</div>

</body>
</html>