<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="styles::styles(pageTitle='Spare::view')">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <!--<script type="text/javascript" th:src="@{/resources/semantic/maps.js}"></script>-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkiJXKM3mDmSTHiai1NY934TbPaGAj9C0&callback=initMap"-->
            <!--async defer></script>-->
    <link rel="stylesheet" href="../../resources/materialize/css/materialize.min.css"/>

    <style>
        .map {
            height: 300px;
        }
    </style>
    <script>
//        $(document).ready(function(){
//            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
//            $('.modal').modal();
//            function clicked() {
//                console.log("Clicked");
//                $('#reviews').show();
//            }
//        });

    </script>
</head>
<body>

<div th:replace="~{header::header}"></div>
<main>
    <div class="row">
        <div class="col s12 l5 m12 hide-on-med-and-down map">
                <!--<div class="card-panel teal">-->
                    <!--<p class="white-text">Loading map data...please check your network connection-->
                        <!--if you see this for more than 10 seconds</p>-->
                <!--</div>-->
                    <script>
//                        var map;
//                        function initMap(){
//                            map = new google.maps.Map(document.getElementsByClassName('map'), {
//                                center: {lat: -1.2921, lng: 36.8219},//load nairobi for now replace with addres
//                                //of item from model
//                                zoom: 15
//                            });
//                        }
                    </script>
                    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkiJXKM3mDmSTHiai1NY934TbPaGAj9C0&callback=initMap"-->
                            <!--async defer></script>-->

            </div>
        <div class="col s12 l7 m12">
            <div class="card">
                <div class="card-image">
                    <img th:src="@{${item.encodedImage()}}"/>
                    <span class="card-title">Price Tag</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light activator">
                        <i class="material-icons">check</i>
                    </a>
                </div>
                <div class="card-content">
                    <span class="card-title" th:text="${item.getName()}"></span>
                    <div class="row">
                      <div class="col">
                          <p th:text="${item.getDescription()}">Description</p>
                      </div>
                        <div class="row">
                            <div class="col s6 l3 m3 right">
                                <div class="chip">
                                    <img th:src="${item.getAccount().encodedImage()}" alt="" class="circle responsive-img">
                                    <span class="black-text" th:text="${item.getAccount().getFname()+' '+item.getAccount().getLname()}">Name Name</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-reveal">
                    <span class="card-title">Available Amenities<i class="material-icons right">close</i></span>
                    <div class="row">
                        <p>Available amenities</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col s12 l5 m12 hide-on-large-only map">
            <!--<div class="card-panel teal">-->
                <!--<p class="white-text">Loading map data...please check your network connection-->
                    <!--if you see this for more than 10 seconds</p>-->
            <!--</div>-->
            <!--<script>-->
                <!--var map;-->
                <!--function initMap(){-->
                    <!--map = new google.maps.Map(document.getElementsByClassName('map'), {-->
                        <!--center: {lat: -1.2921, lng: 36.8219},//load nairobi for now replace with addres-->
                        <!--//of item from model-->
                        <!--zoom: 15-->
                    <!--});-->
                <!--}-->
            <!--</script>-->
            <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkiJXKM3mDmSTHiai1NY934TbPaGAj9C0&callback=initMap"-->
                    <!--async defer></script>-->

        </div>
    </div>
    <div id="reviews" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Item Reviews</h4>
            <!--use ajax to send review-->
            <form>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Review Message</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="ratings col 12 l8 m8">
                                <p class="range-field">
                                    <i class="material-icons">star</i>
                                    <input type="range" id="test5" min="1" max="10" />
                                </p>
                            </div>

                        </div>
                    </form>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
    <div id="message" class="modal">
        <div class="modal-content">
            <h5 class="center">Message Publisher</h5>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">label</i>
                        <input type="text" required id="subject" maxlength="50"/>
                        <label for="subject">Subject</label>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea id="message-body" class="materialize-textarea" maxlength="200"></textarea>
                        <label for="message-body">Message Body</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating red" href="#reviews"><i class="material-icons">grade</i></a></li>
            <li><a class="btn-floating yellow darken-1" href="#message"><i class="material-icons">chat</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">perm_identity</i></a></li>
        </ul>
    </div>
</main>

<div th:replace="~{scripts::scripts}"></div>
</body>
</html>