<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="styles(pageTitle)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title th:text="${pageTitle}">Spare::RealEstate</title>
    <link th:href="@{/resources/materialize/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/css/material-icons.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/noUiSlider/nouislider.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/resources/materialize/css/app.css}" type="text/css" rel="stylesheet"/>
    <!--development only-->
    <!--<link rel="stylesheet" href="../../resources/materialize/css/materialize.min.css"/>-->
    <!--<link rel="stylesheet" href="../../resources/materialize/css/material-icons.css"/>-->
</head>
<body>

</body>
</html>