<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="styles(pageTitle)">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title th:text="${pageTitle}">Spare::RealEstate</title>
    <link th:href="@{/resources/materialize/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/css/style.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/css/material-icons.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/noUiSlider/nouislider.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/resources/materialize/js/themes/bars-movie.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/css/centre-page.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/css/style.min.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/js/plugins/prism/prism.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/resources/materialize/js/plugins/animate-css/animate.css}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link rel="stylesheet" href="../../resources/materialize/css/materialize.min.css"/>
    <!--development only-->
    <link rel="stylesheet" href="../../resources/materialize/css/materialize.min.css"/>
    <link rel="stylesheet" href="../../resources/materialize/css/material-icons.css"/>
    <link rel="stylesheet" href="../../resources/materialize/css/style.min.css"/>
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="../../resources/materialize/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../../resources/materialize/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../../resources/materialize/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="../../resources/materialize/js/plugins/jquery.nestable/nestable.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>
<body>

</body>
</html>